header{
    background-repeat: no-repeat;
    position: relative;
    width: 100vw;
    display: grid;
  }
  
  .title, .nav-links li a{
    color: #ffeeb3;
  }
  
  .log-in-group, .title-group{
    display: grid;
    place-content: center;
  }
  
  .log-in-group p{
    text-align: center;
    color: #ffeeb3;
  }
  
  
  .nav-links, .navbar{
    width: 100%;
    justify-content: space-around;
  }
  
  .navbar{
    display: flex;
  }
  
  .nav-links{
    align-items: flex-end;
  }
  
  .nav-links li{
    padding: 4px;
    list-style-type: none;
    border-radius: 4%;
  }
  
  .nav-links li:hover{
    background: #051014;
    transition: ease-in-out .5s;
  }

  .nav-links li a{
    font-size: 1.25em;
    text-align: center;
    padding: 15px;
  }
  
  /* hamburger button */
  ul .hamburger-item a{
    color: #f1c17a;
    text-decoration: none;
    font-size: 18px;
    padding: 15px;
    display: block;
    height: 100%;
  }

  #hamburger-container label:hover, .hamburger-item:hover, ul .hamburger-item a:hover{
    background-color: #817f75 !important;
    color: #ffeeb3;
  }
  
  #hamburger + ul .hamburger-item{
    display: none;
  }
  
  #hamburger, #hamburger-container label{
    position: absolute;
    color: #f1c17a;
    right: 0;
    z-index: 997;
  }
  
  #hamburger-container label{
    top: 0;
    font-size: 2rem;
    width: 100vw;
    text-align: center;
    background-color: #051014;
  }
  
  #hamburger{
    opacity: 0;
  }
  
  #hamburger:checked + ul .hamburger-item{
    display: block;
    text-align: left;
    background-color: var(--secondary-color);
    position: relative;
    z-index: 997;
    width: 100vw;
  }
  
  #hamburger-background{
    position: absolute;
    right: 0;
    top: 45px;
    background-color: #051014;
  }
  
  .top-navbar-item-list:hover .dropdown-content{
    display: block;
  }
  
  .dropdown-content{
    display: none;
    position: absolute;
    z-index: 999;
  }
  
  .dropdown-content a{
    display: block;
    position: relative;
    text-align: left;
    text-decoration: none;
    padding: 8px 15px;
    z-index: 998;
  }